# Required to start the server
DATABASE_PASSWORD=WPGQvqoevwUD3yEp9rA8SXbeMsJazWWR

# Optional overrides (defaults are in application.conf)
# DATABASE_URL=jdbc:postgresql://dpg-dak5qbid0e5s73b404e0-a.oregon-postgres.render.com:5432/orderwhatsapp
# DATABASE_USER=orderwhatsapp_user
